body {margin: 0;}

#name {
    text-align: center;
    font-family: Century Gothic, sans-serif;
}

#icons {
    padding-top: 7px;
    margin-right: 10%; 
    text-align: right;
}

.icon:hover {
    cursor: pointer;
}

.heading {
    font-family: Helvetica;
    font-size: 24px;
    text-align: center;
    height: 50px;
    color: grey
}

#mail {
    color: white;
}

#mail:hover {
    color: black;
}

.resume {
    color: white;
}

.resume:hover {
    color: orange;
    font-size: 16px;
}

.resume::visited {
    text-decoration: none;
}

#footer {
	width: 100%;
    height: 40px;
	clear: both;
    padding-top: 7px;
	position: relative;
	text-align: center;
	font-size: large;
	font-weight: 900;
	background: deepskyblue;
	color: white;
    bottom: 0;
}

.type {
    display: inline-block;
    font-size: 24px;
    width: 48%;
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
}

#info {
    display: inline-block;
    width: 48%;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 2%;
    font-family: "Courier";
    background-color: black;
    line-height: 1.7em;
    color: white;
    font-size: 14px;
    height: 475px;
}

#info2 {
    display: inline-block;
    width: 48%;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1%;
    font-family: "Courier";
    background-color: black;
    line-height: 1.7em;
    color: white;
    font-size: 14px;
    height: 475px;
}

.indent {
    background-color: black;
    padding-left: 30px;
}

.res_word {
    color: limegreen;
}

.var_word {
    color: dodgerblue;
}

.str_word {
    color: red;
}

.nodisplay {
  display: none;
  }


#blink{
  animation: blink 1s infinite;
}

#heading {
    width: 50%;
    margin-left: 40%;
    font-size: 30px;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}
